@media only screen and (min-width: 900px) {
    .Ul {
        display: flex;
        flex-flow: row nowrap;   
        font-size: 16px;
        font-weight: 600;
        font-stretch: 100%;      
    }
    .Link {
        color: #272F3E;
    }

}


@media only screen and (max-width: 900px) {
    .Ul {
        flex-flow: column nowrap;
        background-color: #0D2538;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 300px;
        padding-top: 6rem;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        letter-spacing: 2px;
        font-size: 20px; 
    }
    .Link {
        color: #FFE9B1;
    }
}
  
.Ul {
    letter-spacing: 2px;
    list-style: none;
}

.UlhamIsOn {
    transform: translateX(0);
}

.Li{
    text-decoration: none;
    padding-left: 35px;
}
.Li ::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: black;
    transition: width .2s;
}
.Li :hover::after {
    width: 100%;
    transition: width .6s;
}
