@media only screen and (max-width: 450px) {
  .Card {
    width: 100%;
    font-size: 17px;  }
}

@media only screen and (min-width: 1000px) {
  .Card {
    width: 600px;
  }
}



  .Container {
    padding: 150px 0;
    background: #272F3E;  
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .Card {
    background: #cde5dd;
    width: 500px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 50px;
    font-size: 18px;
  }
  
  .Ul {
    list-style: none;
  }
  
  .Li {
    line-height: 1.5;
    padding: 10px;
    color: #272F3E;
    border-bottom: 1px solid #272F3E;
  }
  
  .Li:last-child {
    border-bottom: none;
  }
  
  .Li:hover {
    background-color: #b8d6cb;
    padding-left: 12px;
  }

  .Atag {
    color: #272F3E;
    text-decoration: none;
  }
  
  .H1 {
    padding: 10px 0;
  }