
  .Container {
    padding: 150px 0;
    background: #272F3E;  
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .Card {
    background: #cde5dd;
    min-width: 450px;
    max-width: 600px;
    width: 40%;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 50px;
    @media (max-width: 450px) {
        width: 100%;
    }
  }
  
  .Ul {
    list-style: none;
  }
  
  .Li {
    font-size: 18px;
    line-height: 1.5;
    padding: 10px;
    color: #272F3E;
    border-bottom: 1px solid #272F3E;
  }
  
  .Li:last-child {
    border-bottom: none;
  }
  
  .Li:hover {
    background-color: #b8d6cb;
    padding-left: 12px;
  }
  
  /* .Li:before {
    content: "\2022";
    margin-right: 10px;
    color: #ff6347;
    font-weight: bold;
  } */
  
  .Atag {
    color: #272F3E;
    text-decoration: none;
  }
  
  .H1 {
    padding: 10px 0;
  }