@media only screen and (min-width: 900px) {
  .Container {
    width: 80vw;
    padding: 50px 10%;
    display: flex;
    flex-direction: column;
    text-align: center
  }
}

@media only screen and (max-width: 900px) {
  .Container {
    width: 100vw;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.FooterContainer {
    width: 100%;
    background: #272F3E;
}

.Typography {
    color: #272F3E;
    font-size: 20px;
    width: 350px;
    text-align: center;
    font-weight: 600;
    display: inline;
    margin-bottom: 5px;
}

.Container {
    
    background: #cde5dd;
    color: black;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Div {
    display: flex;
    flex-direction: column;
    align-items: center;
}