@media only screen and (min-width: 900px) {
  .Container {
    width: 80vw;
    padding: 100px 10%;
    display: flex;
    justify-content: space-evenly;
  }
  .Text {
    width: 80vw;
    padding: 100px 10%;
  }

}

@media only screen and (max-width: 900px) {
  .Container {
    width: 100vw;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Text {
    width: 100vw;
    padding: 50px 20px;
  }

}

.HeaderContainer {
    background: #cde5dd;
    padding-top: 200px;
}

.Container {
    background: #272F3E;
    color: #cde5dd;
    letter-spacing: 2px;
}

.ImgContainer {
    border-radius: 10px;
    margin: 1px;
}

.TextContainer {
    min-width: 350px;
}
.H1 {
    padding-bottom: 20px;;
}
.H2 {
    padding-bottom: 20px;
}

 .DivButton {
    padding-bottom: 20px;
    display: flex;;
    justify-content: space-between;
}
/* CSS */
.Button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.Button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.Button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.Button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.Typography {
    background: #272F3E;
    color: #cde5dd;
    margin-bottom: 20px;
}

.Text {
    background: #272F3E;
    color: #cde5dd;
    letter-spacing: 2px;
    font-size: 20px;
}

